<div class="modal-dialog">
  <button type="button" class="btn btn-clean btn-user-cancel btn-cancel-primary"></button>
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="header-dashed-text modal-title">Edit hand</h4>
    </div>
    <div class="modal-body">
     <div class="hand-region"></div> 
     <div class="form-control-buttons">
      <button class="btn btn-clean btn-clean-primary hand-back">Done</button>
      <button class="btn btn-clean btn-clean-primary hand-add">Add card</button>
     </div>
    </div>
  </div>
</div>