<div class="modal-dialog typeahead-modal">
  <button type="button" class="btn btn-clean btn-user-cancel btn-cancel-primary"></button>
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="header-dashed-text modal-title">{{title}}</h4>
    </div>
    <div class="modal-body">
      <div class="prompt-form">
        <div class="form-group">
          <input autocomplete="off" spellcheck="false" class="form-control typeahead">
          <div id="results" />
        </div>
        <div class="form-control-buttons">
          <button class="btn btn-clean btn-clean-confirm prompt-submit">Add</button>
          {{#if checkboxes}}
          <div class="checkbox-input-group">
            <label for="keeper">Keeper</label>
            <div class="switch">
              <input type="checkbox" id="keeper" name="keeper" />
              <label><i></i></label>
            </div>
          </div>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</div>