<div class="modal-dialog" id="add-minion-modal">
  <button type="button" class="btn btn-clean btn-user-cancel btn-cancel-primary"></button>
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="header-dashed-text modal-title">Add a minion</h4>
    </div>
    <div class="modal-body">
      <div class="prompt-form">
        <div class="form-group">
          <label>Add a minion</label>
          <input type="text" class="form-control minion-name" required placeholder="Minion">
          <div id="results" />
        </div>
        <div class="form-control-buttons">
          <button class="btn btn-clean btn-clean-cancel btn-user-cancel">Cancel</button>
          <button class="btn btn-clean btn-clean-confirm prompt-submit">Add</button>
        </div>
      </div>
    </div>
  </div>
</div>