<div class="modal-dialog typeahead-modal">
  <button type="button" class="btn btn-clean btn-user-cancel btn-cancel-primary"></button>
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="header-dashed-text modal-title">Add a modifier</h4>
    </div>
    <div class="modal-body">
      <div class="prompt-form w-100">
        <div class="input-row">
          <div class="form-group w-100">
            <input autocomplete="off" spellcheck="false" class="form-control typeahead w-100">
            <div id="results" />
          </div>
          <div class="form-group number-input-group" />
        </div>
        <div class="form-control-buttons">
          <button class="btn btn-clean btn-clean-confirm prompt-submit">Add</button>
        </div>
      </div>
    </div>
  </div>
</div>