<div class="open">
  <ul class="dropdown-menu">
    <li>
      <a class="set-damage-item">
        Set damage
      </a>
    </li>
    <li>
      <a class="add-modifier-item">
        Add modifier
      </a>
    </li>
    {{#compare deleteMinion '||' deleteTile}}
    <li>
      <a class="delete-item">
        Delete {{#if deleteMinion}}minion{{else}}tile{{/if}}
      </a>
    </li>
    {{/compare}}
  </ul>
</div>