<div class="open">
  <ul class="dropdown-menu">
    <li>
      <a class="set-damage-item">
        Set damage
      </a>
    </li>
    <li>
      <a class="add-modifier-item">
        Add modifier
      </a>
    </li>
    <li>
      <a>
        Duplicate last modifier
      </a>
    </li>
  </ul>
</div>