<div class="open">
  <ul class="dropdown-menu">
    <li>
      <a class="set-damage-item">
        Set damage
      </a>
    </li>
    <li>
      <a class="add-modifier-item">
        Add modifier
      </a>
    </li>
    {{#if deleteMinion}}
    <li>
      <a class="delete-minion-item">
        Delete minion
      </a>
    </li>
    {{/if}}
  </ul>
</div>