<div class="open">
  <ul class="dropdown-menu">
    {{#if resetUnit}}
    <li>
      <a class="reset-unit-item">
        Reset unit
      </a>
    </li>
    {{/if}}
    {{#if setStats}}
    <li>
      <a class="set-stats-item">
        Set damage/stats
      </a>
    </li>
    {{/if}}
    {{#if setDurability}}
    <li>
      <a class="set-durability-item">
        Set durability
      </a>
    </li>
    {{/if}}
    {{#if addKeyword}}
    <li>
      <a class="add-keyword-item">
        Add keyword
      </a>
    </li>
    {{/if}}
    {{#if addModifier}}
    <li>
      <a class="add-modifier-item">
        Add modifier
      </a>
    </li>
    {{/if}}
    {{#if isManaTile}}
    <li>
      <a class="mana-tile-item">
        {{#if isManaTileDepleted}}Refresh{{else}}Deplete{{/if}} mana tile
      </a>
    </li>
    {{/if}}
    {{#if hasCustomModifier}}
    <li>
      <a class="custom-modifier-item">
        {{customModifierDescription}}
      </a>
    </li>
    {{/if}}
    {{#if deleteMinion}}
    <li>
      <a class="delete-minion-item">
        Delete minion
      </a>
    </li>
    {{/if}}
    {{#if deleteTile}}
    <li>
      <a class="delete-tile-item">
        Delete tile
      </a>
    </li>
    {{/if}}
    {{#if deleteArtifact}}
    <li>
      <a class="delete-artifact-item">
        Delete artifact
      </a>
    </li>
    {{/if}}
    {{#if flipBattleLog}}
    <li>
      <a class="flip-battle-log-item">
        Flip owner
      </a>
    </li>
    {{/if}}
    {{#if deleteBattleLog}}
    <li>
      <a class="delete-battle-log-item">
        Delete card
      </a>
    </li>
    {{/if}}
  </ul>
</div>