<div class="modal-dialog typeahead-modal">
  <button type="button" class="btn btn-clean btn-user-cancel btn-cancel-primary"></button>
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="header-dashed-text modal-title">Set damage/stats</h4>
    </div>
    <div class="modal-body">
      <div class="prompt-form">
        <div class="input-row">
          Damage:
          <div id="damage-input" class="form-group number-input-group" />
          <div class="stats">
            <div class="stat atk" />
            <div class="stat hp" />
          </div>
        </div>
        <div class="input-row">
          Base:
          <div id="attack-base-input" class="form-group number-input-group" />
          /
          <div id="health-base-input" class="form-group number-input-group" />
          Buff:
          <div id="attack-buff-input" class="form-group number-input-group" />
          /
          <div id="health-buff-input" class="form-group number-input-group" />
        </div>
        <div class="form-control-buttons">
          <button class="btn btn-clean btn-clean-cancel btn-user-cancel">Cancel</button>
          <button class="btn btn-clean btn-clean-confirm prompt-submit">Apply</button>
        </div>
      </div>
    </div>
  </div>
</div>