<div class="modal-dialog typeahead-modal">
  <button type="button" class="btn btn-clean btn-user-cancel btn-cancel-primary"></button>
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="header-dashed-text modal-title">Set {{label}}</h4>
    </div>
    <div class="modal-body">
      <div class="prompt-form">
        <div class="form-group number-input-group">
          <button class="btn arrow up-arrow" tabindex="-1">
            <i class="fa fa-2x fa-caret-up" />
          </button>
          <input class="form-control number-input" type="number">
          <button class="btn arrow down-arrow" tabindex="-1">
            <i class="fa fa-2x fa-caret-down" />
          </button>
        </div>
        <div class="form-control-buttons">
          <button class="btn btn-clean btn-clean-cancel btn-user-cancel">Cancel</button>
          <button class="btn btn-clean btn-clean-confirm prompt-submit">Apply</button>
        </div>
      </div>
    </div>
  </div>
</div>